yuimarl-db-javadb-setup/xml/yuimarl.dtd

<!ELEMENT dataset (
    CORPORATION*,
    EVENT*,
    EVENTSET*,
    EVENTVIEW*,
    EVENTVIEWSET*,
    EVENTVIEW_SPREAD*,
    GENERATED_ID*,
    GOODS*,
    GOODS_CATEGORY*,
    ORGANIZATION*,
    ORG_CATEGORY*,
    PARTY*,
    PARTY_RELATION*,
    PERSON*,
    PREFECTURE*,
    YUIMARL_USER*)>

<!ELEMENT CORPORATION EMPTY>
<!ATTLIST CORPORATION
    PARTY_NO CDATA #REQUIRED
    URL CDATA #IMPLIED
    CAPITAL CDATA #IMPLIED
    ACCOUNT_MONTH CDATA #IMPLIED
>

<!ELEMENT EVENT EMPTY>
<!ATTLIST EVENT
    EVENT_NO CDATA #REQUIRED
    EVENTSET_NO CDATA #IMPLIED
    EVENT_CLASS CDATA #IMPLIED
    EVENT_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TERM_FROM CDATA #IMPLIED
    TERM_TO CDATA #IMPLIED
    START_TIME CDATA #IMPLIED
    END_TIME CDATA #IMPLIED
    PLACE CDATA #IMPLIED
    AFFILIATE CDATA #IMPLIED
    SUNDAY CDATA #IMPLIED
    MONDAY CDATA #IMPLIED
    TUESDAY CDATA #IMPLIED
    WEDNESDAY CDATA #IMPLIED
    THURSDAY CDATA #IMPLIED
    FRIDAY CDATA #IMPLIED
    SATURDAY CDATA #IMPLIED
    HOLIDAY CDATA #IMPLIED
    EXCEPT_MOVE CDATA #IMPLIED
    INVALID_MOVE CDATA #IMPLIED
    INCLUDE_DAYS CDATA #IMPLIED
    EXCLUDE_DAYS CDATA #IMPLIED
    OPEN_OTHERS CDATA #IMPLIED
    COLOR CDATA #IMPLIED
    MEMO CDATA #IMPLIED
    REP_INTERVAL CDATA #IMPLIED
    REP_DAY CDATA #IMPLIED
    REP_WEEK CDATA #IMPLIED
    REP_MONTH CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    LABEL_START CDATA #IMPLIED
    ACTUAL_FROM CDATA #IMPLIED
    ACTUAL_TO CDATA #IMPLIED
    DAY_COUNT CDATA #IMPLIED
    PRE_TASK CDATA #IMPLIED
    PROGRESS CDATA #IMPLIED
    FINISHED CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT EVENTSET EMPTY>
<!ATTLIST EVENTSET
    EVENTSET_NO CDATA #REQUIRED
    NAME CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT EVENTVIEW EMPTY>
<!ATTLIST EVENTVIEW
    EVENTVIEW_NO CDATA #REQUIRED
    OWNER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    SEQ CDATA #IMPLIED
    JAPANESE_HOLIDAY CDATA #IMPLIED
    SPREAD_YEARS CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT EVENTVIEWSET EMPTY>
<!ATTLIST EVENTVIEWSET
    EVENTVIEW CDATA #REQUIRED
    EVENTSET CDATA #REQUIRED
    AUTH_OWNER CDATA #IMPLIED
    AUTH_UPDATE CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT EVENTVIEW_SPREAD EMPTY>
<!ATTLIST EVENTVIEW_SPREAD
    EVENTVIEW_NO CDATA #REQUIRED
    SPREAD_DATE CDATA #REQUIRED
    EVENTSET_NO CDATA #REQUIRED
    EVENT_NO CDATA #REQUIRED
    START_TIME CDATA #IMPLIED
    END_TIME CDATA #IMPLIED
    EVENT_CLASS CDATA #IMPLIED
    EVENT_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    EVENT_TERM CDATA #IMPLIED
    COLOR CDATA #IMPLIED
>

<!ELEMENT GENERATED_ID EMPTY>
<!ATTLIST GENERATED_ID
    KEY_NAME CDATA #REQUIRED
    VALUE CDATA #REQUIRED
>

<!ELEMENT GOODS EMPTY>
<!ATTLIST GOODS
    PARTY_NO CDATA #REQUIRED
    CATEGORY_NO CDATA #IMPLIED
>

<!ELEMENT GOODS_CATEGORY EMPTY>
<!ATTLIST GOODS_CATEGORY
    CATEGORY_NO CDATA #REQUIRED
    NAME CDATA #IMPLIED
    NAME_KANA CDATA #IMPLIED
    PARENT_CATEGORY CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT ORGANIZATION EMPTY>
<!ATTLIST ORGANIZATION
    PARTY_NO CDATA #REQUIRED
    CATEGORY CDATA #IMPLIED
    PERSON_COUNT CDATA #IMPLIED
>

<!ELEMENT ORG_CATEGORY EMPTY>
<!ATTLIST ORG_CATEGORY
    CATEGORY_NO CDATA #REQUIRED
    NAME CDATA #REQUIRED
    PARTY_TYPE CDATA #REQUIRED
    DEL_FLG CDATA #IMPLIED
>

<!ELEMENT PARTY EMPTY>
<!ATTLIST PARTY
    PARTY_NO CDATA #REQUIRED
    PARTY_TYPE CDATA #REQUIRED
    NAME CDATA #IMPLIED
    NAME_KANA CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    PREFECTURE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    ADDRESS1 CDATA #IMPLIED
    ADDRESS2 CDATA #IMPLIED
    PHONE_NO CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    MAIL_ADDRESS1 CDATA #IMPLIED
    MAIL_ADDRESS2 CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    MEMO CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT PARTY_RELATION EMPTY>
<!ATTLIST PARTY_RELATION
    RELATION_NO CDATA #REQUIRED
    RELATION_TYPE CDATA #IMPLIED
    PARTY1 CDATA #IMPLIED
    ROLE1 CDATA #IMPLIED
    PARTY2 CDATA #IMPLIED
    ROLE2 CDATA #IMPLIED
    TERM_FROM CDATA #IMPLIED
    TERM_TO CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    PARTY_NO CDATA #REQUIRED
    LAST_NAME CDATA #IMPLIED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME_KANA CDATA #IMPLIED
    FIRST_NAME_KANA CDATA #IMPLIED
    GENDER CDATA #IMPLIED
    CELL_PHONE_NUMBER CDATA #IMPLIED
>

<!ELEMENT PREFECTURE EMPTY>
<!ATTLIST PREFECTURE
    PREFECTURE_NO CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
>

<!ELEMENT YUIMARL_USER EMPTY>
<!ATTLIST YUIMARL_USER
    USER_NO CDATA #REQUIRED
    USER_ID CDATA #IMPLIED
    PASSWORD CDATA #REQUIRED
    PARTY CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    AUTH_MAP CDATA #IMPLIED
    AUTH_REGIST_USER CDATA #IMPLIED
    AUTH_REGIST_TIME CDATA #IMPLIED
    AUTH_UPDATE_USER CDATA #IMPLIED
    AUTH_UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

